/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rockwell", serif;
  color: #666;
}
p {
  color: #666;
}
img {
  max-width: 100%;
  height: auto;
}
span.bold {
  font-weight: 700;
}
.container-main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.5rem 11% 1.7rem 11%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header a {
  text-decoration: none;
  color: #666;
  font-size: 1.5rem;
}
header nav.left {
  display: flex;
  align-items: center;
  width: 18rem;
}
@media (max-width: 500px) {
  header nav.left {
    order: 2;
    padding-top: 0.7rem;
  }
}
header nav.left span.middle_dot {
  margin: 0 0.9rem;
}
header h1 a {
  color: #7cb342;
  font-size: 2.3rem;
}
@media (max-width: 500px) {
  header h1 a {
    order: 1;
  }
}
header nav.right {
  width: 18rem;
}
@media (max-width: 500px) {
  header nav.right {
    order: 3;
    padding-top: 0.7rem;
  }
}
header nav.right span.middle_dot {
  display: none;
}
@media (max-width: 500px) {
  header nav.right span.middle_dot {
    display: inline;
  }
}
header nav.right a:first-child {
  padding-right: 1.3rem;
}
header nav.right a.btn {
  border: 1px #79ac49 solid;
  color: #79ac49;
  padding: 1rem 1.8rem;
  border-radius: 6px;
  font-weight: 300;
}
@media (max-width: 500px) {
  header nav.right a.btn {
    border: 0;
    color: #666;
    font-weight: 400;
  }
}
section.top div.cta {
  height: 512px;
  background: url(../images/vegetables.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  padding-left: 11.11%;
  padding-right: 11.11%;
  position: relative;
}
section.top div.cta h2 {
  padding-top: 9.6rem;
  font-size: 5rem;
  color: white;
}
section.top div.cta h3 {
  font-size: 2.3rem;
  padding-top: 1.3rem;
  color: white;
}
section.top div.cta a.btn {
  display: block;
  background-color: #79ac49;
  color: white;
  padding: 1.4rem 4rem;
  border-radius: 6px;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.9rem;
  margin-top: 5rem;
  width: 18rem;
}
section.top div.description {
  display: flex;
  margin-left: 11.11%;
  margin-right: 11.11%;
  margin-top: -15.3rem;
  text-align: left;
  height: 25rem;
  font-size: 1.2rem;
  background-color: white;
  width: 77.78%;
  border: 1px solid #ddd;
  border-radius: 6px;
  position: relative;
  z-index: 2;
}
@media (max-width: 500px) {
  section.top div.description {
    display: none;
  }
}
section.top div.description div.text {
  display: flex;
  flex-direction: column;
  margin-left: 6.7rem;
  padding-top: 6.4rem;
}
section.top div.description div.text h3 {
  font-size: 2.3rem;
}
section.top div.description div.text p {
  padding-top: 1.8rem;
  font-size: 1.5rem;
  line-height: 2;
  padding-right: 11rem;
}
section.middle div.description_1 {
  display: flex;
  padding: 0 15.9% 0 18.9%;
}
@media (max-width: 500px) {
  section.middle div.description_1 {
    flex-direction: column;
    padding: 0 8% 0 8%;
  }
}
section.middle div.description_1 div.text {
  padding-top: 13.6%;
  width: 35%;
}
@media (max-width: 500px) {
  section.middle div.description_1 div.text {
    width: 100%;
  }
}
section.middle div.description_1 div.text h1 {
  font-size: 3.7rem;
}
section.middle div.description_1 div.text p {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
section.middle div.description_1 div.overlaid_screens {
  width: 65%;
  padding-top: 4.7%;
  padding-left: 5.5%;
}
@media (max-width: 500px) {
  section.middle div.description_1 div.overlaid_screens {
    width: 100%;
  }
}
section.middle div.description_2 {
  display: flex;
  padding-left: 18.9%;
  padding-right: 18.9%;
  margin-bottom: 2.7%;
}
@media (max-width: 500px) {
  section.middle div.description_2 {
    flex-direction: column;
    padding: 0 8% 0 8%;
  }
}
section.middle div.description_2 div.screen_with_logo_block {
  display: flex;
  flex-direction: column;
  width: 59%;
}
@media (max-width: 500px) {
  section.middle div.description_2 div.screen_with_logo_block {
    width: 100%;
  }
}
section.middle div.description_2 div.screen_with_logo_block h4 {
  font-size: 2rem;
  margin-top: -3.2rem;
}
@media (max-width: 500px) {
  section.middle div.description_2 div.screen_with_logo_block h4 {
    margin-top: 8rem;
  }
}
section.middle div.description_2 div.screen_with_logo_block span.subhead {
  color: #7cb342;
  font-size: 1.2rem;
  padding-top: 1.6rem;
}
section.middle div.description_2 div.screen_with_logo_block h3 {
  padding-top: 2rem;
  font-size: 4.5rem;
}
section.middle div.description_2 div.screen_with_logo_block div.screen_with_logo {
  margin-top: -0.2rem;
  margin-left: -3rem;
}
section.middle div.description_2 div.text {
  padding-top: 11.8rem;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  width: 39%;
}
@media (max-width: 500px) {
  section.middle div.description_2 div.text {
    width: 100%;
  }
}
section.middle div.description_2 div.text h4 {
  font-size: 3.3rem;
  line-height: 1.3;
}
section.middle div.description_2 div.text p {
  padding-top: 0.9rem;
  font-size: 1.5rem;
  line-height: 1.8;
}
section.bottom {
  margin-bottom: 5.6rem;
}
section.bottom div.big_heading {
  display: flex;
  align-items: center;
  padding: 0 16.67%;
  height: 16rem;
  background-color: #00a7b6;
  color: #e6f5f7;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
}
section.bottom div.cta {
  height: 352px;
  background: url(../images/bowls.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  padding-left: 16.67%;
  padding-right: 16.67%;
}
section.bottom div.cta h2 {
  padding-top: 8.6rem;
  font-size: 5.5rem;
  color: white;
}
section.bottom div.cta h3 {
  font-size: 2.1rem;
  padding-top: 1.6rem;
  color: white;
}
section.bottom div.cta div.btn {
  padding-top: 5.4rem;
}
section.bottom div.cta div.btn a.btn {
  background-color: #79ac49;
  color: white;
  padding: 1.2rem 3.4rem;
  border-radius: 6px;
  font-weight: 400;
  text-decoration: none;
  font-size: 2rem;
}
footer {
  color: #666;
}
footer a {
  color: #666;
}
footer div.top {
  display: flex;
  justify-content: center;
  background-color: #f4f9ed;
  height: 31.8rem;
  padding-top: 4.1rem;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  footer div.top {
    flex-direction: column;
    height: auto;
  }
}
footer div.top div {
  width: 25.8rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #daded3;
}
@media (max-width: 500px) {
  footer div.top div {
    border: 0;
    padding-bottom: 5rem;
  }
}
footer div.top div a {
  text-decoration: none;
  padding-bottom: 0.7rem;
}
footer div.top div:first-child {
  border: 0;
  width: 29.4rem;
  text-align: center;
  padding-top: 4.8rem;
}
footer div.top div:first-child h2 {
  color: #7cb342;
  padding-bottom: 1rem;
  font-size: 2.9rem;
}
footer div.top div:first-child a {
  padding-bottom: 0.7rem;
  font-size: 1.4rem;
  padding-top: 0.3rem;
}
footer div.top div:not(:first-child) {
  padding-left: 2.3rem;
  padding-top: 3.3rem;
}
footer div.top div:not(:first-child) h2 {
  color: #7cb342;
  font-size: 2rem;
  padding-bottom: 2.3rem;
}
footer div.top div:not(:first-child) a {
  padding-bottom: 1.6rem;
  padding-left: 1rem;
}
footer div.bottom {
  padding: 0 11.2%;
  height: 5.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6f7fa;
  border-top: 1px solid #8fe4ee;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  footer div.bottom {
    padding-left: 8%;
    padding-right: 8%;
  }
}
h5 {
  font-size: 2rem;
  text-align: center;
}
.ui-devs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.mike {
  width: 30%;
  height: 30%;
}
.dee {
  width: 30%;
  height: 30%;
}
.ux-devs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.rob {
  width: 30%;
  height: 30%;
}
.karen {
  width: 30%;
  height: 30%;
}
.pm {
  justify-content: center;
  width: 30%;
  margin: auto;
  margin-bottom: 1rem;
}
