section.top {
  div.cta {
    height: 512px;
    background: url(/images/vegetables.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    padding-left: 11.11%;
    padding-right: 11.11%;
    position: relative;
    z-index: -1;

    h2 {
      padding-top: 9.6rem;
      font-size: 5rem;
      color: white;
    }

    h3 {
      font-size: 2.3rem;
      padding-top: 1.3rem;
      color: white;
    }

    div.btn {
      padding-top: 6.1rem;

      a.btn {
        background-color: @button-cta-background-color;
        color: @button-cta-color;
        padding: 1.2rem 4rem;
        border-radius: 6px;
        font-weight: 400;
        text-decoration: none;
        font-size: 1.7rem;
      }
    }
  }

  div.description {
    display: flex;
    margin-left: 11.11%;
    margin-right: 11.11%;
    margin-top: -15.3rem;
    text-align: left;
    height: 25rem;
    font-size: 1.2rem;
    background-color: white;
    width: 77.78%;
    border: 1px solid #ddd;
    border-radius: 6px;
    position: relative;
    z-index: 0;

    div.text {
      display: flex;
      flex-direction: column;
      margin-left: 6.7rem;
      padding-top: 6.4rem;

      h3 {
        font-size: 2.3rem;
      }

      p {
        padding-top: 1.8rem;
        font-size: 1.5rem;
        line-height: 2;
        padding-right: 11rem;
      }
    }
  }
}

section.middle {
  div.description_1 {
    display: flex;
    padding: 0 15.9% 0 18.9%;

    div.text {
      padding-top: 13.6%;
      width: 35%;

      h1 {
        font-size: 3.7rem;
      }

      p {
        padding-top: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }

    div.overlaid_screens {
      width: 65%;
      padding-top: 4.7%;
      padding-left: 5.5%;
    }
  }
  div.description_2 {
    display: flex;
    padding-left: 18.9%;
    padding-right: 18.9%;
    margin-bottom: 2.7%;

    div.screen_with_logo_block {
      display: flex;
      flex-direction: column;
      width: 59%;

      h4 {
        font-size: 2rem;
        margin-top: -3.2rem;
      }

      span.subhead {
        color: #7cb342;
        font-size: 1.2rem;
        padding-top: 1.6rem;
      }

      h3 {
        padding-top: 2rem;
        font-size: 4.5rem;
      }

      div.screen_with_logo {
        margin-top: -0.2rem;
        margin-left: -3rem;
      }
    }

    div.text {
      padding-top: 11.8rem;
      margin-left: 2%;
      display: flex;
      flex-direction: column;
      width: 39%;

      h4 {
        font-size: 3.3rem;
        line-height: 1.3;
      }

      p {
        padding-top: 0.9rem;
        font-size: 1.5rem;
        line-height: 1.8;
      }
    }
  }
}

section.bottom {
  div.big_heading {
    display: flex;
    align-items: center;
    padding: 0 16.67%;
    height: 16rem;
    background-color: #00a7b6;
    color: #e6f5f7;
    font-size: 3.5rem;
    font-family: "Roboto", sans-serif;
  }

  div.cta {
    height: 352px;
    background: url(/images/bowls.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    padding-left: 16.67%;
    padding-right: 16.67%;

    h2 {
      padding-top: 8.6rem;
      font-size: 5.5rem;
      color: white;
    }

    h3 {
      font-size: 2.1rem;
      padding-top: 1.6rem;
      color: white;
    }

    div.btn {
      padding-top: 5.4rem;

      a.btn {
        background-color: @button-cta-background-color;
        color: @button-cta-color;
        padding: 1.2rem 4rem;
        border-radius: 6px;
        font-weight: 400;
        text-decoration: none;
        font-size: 1.7rem;
      }
    }
  }
}

footer {
  div.top {
    display: flex;
    justify-content: space-around;
    background-color: #f4f9ed;

    div {
      display: flex;
      flex-direction: column;
      border-left: 1px solid gray;
      padding: 3rem;

      h2 {
        color: #7cb342;
        padding-bottom: 1rem;
      }

      a {
        text-decoration: none;
        color: gray;
        padding-bottom: 0.7rem;
      }
    }

    div:first-child {
      border: 0;
    }
  }

  div.bottom {
    display: flex;
    justify-content: space-around;
    background-color: #e6f7fa;
    padding: 2rem 0rem;
    font-size: 0.8rem;
  }
}
