header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.5rem 0 1.7rem 0;
  width: 100%;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: #666;
    font-size: 1.5rem;
  }

  nav.left {
    display: flex;
    margin-left: 11.1%;
    align-items: center;

    span.middle_dot {
      margin: 0 0.9rem;
    }
  }

  h1 a {
    color: #7cb342;
    font-size: 2.3rem;
    margin-left: -1.7%;
  }

  nav.right {
    margin-right: 11%;

    a:first-child {
      padding-right: 1.3rem;
    }

    a.btn {
      border: 1px #79ac49 solid;
      color: #79ac49;
      padding: 1rem 1.8rem;
      border-radius: 6px;
      font-weight: 300;
    }
  }
}
